<footer class="w-full bg-slate-400 py-4 pl-4">
    <ul class="font-light">
        <li class="hover:opacity-80">
            <a href="/" class="text-lg">Home</a>
        </li>
        <li class="hover:opacity-80">
            <a href="/account" class="text-lg">Account</a>
        </li>
        <li class="hover:opacity-80">
            <a href="/catalog" class="text-lg">Catalog</a>
        </li>
        <li class="hover:opacity-80">
            <a href="/community" class="text-lg">Community Playlist</a>
        </li>
        <li class="hover:opacity-80">
            <a href="/daily" class="text-lg">Daily Recommended</a>
        </li>
        <li class="hover:opacity-80">
            <a href="/help" class="text-lg">Help</a>
        </li>
    </ul>
    <p class="font-extralight mt-4">Tugtog.an. All Rights Reserved 2024.</p>
</footer>